* {
  margin: 0;
}
img {
  overflow: hidden;
  object-fit: cover;
  border-radius: 3%;
}
body {
  background: linear-gradient(180deg, #fff, #f7f7f7);
  width: 100vw;
  height: 100vh;
}
.grid {
  display: grid;
  grid-template-areas: "";
  padding: 0px;
}
.item1 {
  grid-area: header;
  background-color: white;
  height: 60px;
  margin-top: 25px;
  margin-right: 20vw;
  margin-left: 17vw;
  justify-content: space-evenly;
}
.hidden-tablet {
  cursor: auto;
}

.item2 {
  grid-area: story;
  background-color: white;
  height: 60vh;
  object-fit: cover;
  margin-top: 0vh;
  margin-right: 10vw;
  margin-left: 13vw;
  border-radius: 3%;
  background: linear-gradient(79deg, #fff, #f7f7f7);
}

.container {
  height: 30vh;
  object-fit: cover;
}

.item3 {
  grid-area: tab1;
  height: 30vh;
  width: 12.5vw;
  display: flex;
}
.bottom {
  margin-top: 10px;
}
.item4 {
  grid-area: tab2;
  height: 30vh;
  width: 12.5vw;
  display: flex;
}
.item5 {
  grid-area: tab3;
  height: 30vh;
  width: 12.5vw;
  display: flex;
}
.item6 {
  grid-area: tab4;
  height: 30vh;
  width: 12.5vw;
  display: flex;
}
/* header section */
.title {
  font-size: 35px;
  margin-top: -10px;
  font-weight: bolder;
}
.dollar::first-letter {
  color: green;
}
.gap {
  gap: 5px;
}
.cool {
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  border-radius: 100px;
  padding: 8px 15px;
  width: 70px;
  transition: all 0.3s;
}
.cool:hover {
  width: 90px;
  transition: all 0.3s;
}
.box {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 3px 5px;
  margin-top: 5px;
}
.ntext {
  width: 500px;
}
.fine {
  width: 500px;
  height: 500px;
  margin-left: 15vw;
  object-fit: cover;
  overflow: hidden;
}
.fine img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.text {
  text-align: center;
  opacity: 0;
  position: relative;
  left: -50%;
  transition: all 0.3s ease-in-out;
  user-select: none;
}
.fine:hover img {
  transform: scale(1.2);
  width: 100%;
  filter: brightness(70%);
}
.fine h4:hover img {
  transform: scale(1.2);
  width: 100%;
  filter: brightness(70%);
}
.fine:hover .text {
  opacity: 1;
}
.placeholder {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.img-c {
  height: 27vh;
  width: 12.5vw;
  overflow: hidden;
}
.img-c h3 {
  opacity: 0;
  color: white;
  text-align: center;
  position: relative;
  bottom: 100%;
  left: 30%;
  display: inline;
  user-select: none;
}
.img-c:hover h3 {
  opacity: 1;
}
.img-c:hover .placeholder {
  transform: scale(1.2);
  width: 100%;
  filter: brightness(70%);
  transition: all 0.3s ease-in-out;
}
.img-c .placeholder:hover {
  transform: scale(1.2);
  width: 100%;
  filter: brightness(70%);
  transition: all 0.3s ease-in-out;
}
/* middle */
.middle {
  margin-top: 100px;
  height: 30vh;
}
.ppstore {
  width: 165px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}
.text {
  max-height: 4px;
}
.ppstore h4 {
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  max-height: 13px;
  overflow: hidden;
  margin-bottom: 5px;
  position: relative;
  bottom: 78px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.ppstore:hover h4 {
  transform: translateY(-2px);
  max-height: 32px;
  transition: all 0.3s ease-in-out;
}
.istory {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.istory:hover {
  transform: scale(1.1);
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.reaction {
  position: relative;
  bottom: 80px;
  color: white;
}
.stitle {
  margin-left: 480px;
  margin-bottom: 10px;
}
.contained {
  background-color: brown;
  border-radius: 5%;
  padding-right: 5px;
  padding-left: 5px;
  color: white;
}
/* news */
.cnews {
  width: 800px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  margin-left: 23.2%;
  margin-bottom: 30px;
  cursor: pointer;
}
.cnews:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}

.desc {
  opacity: 0.5;
}
@media only screen and (max-width: 960px) {
  .item1 {
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 1vw;
    gap: 30px;
  }
  .item1 h3 {
    display: none;
  }
  h4 {
    font-size: 10px;
  }
}
@media only screen and (max-width: 960px) {
  .fine {
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .item2 {
    z-index: 3;
    margin: 0 0 0 0;
  }
  .ntext {
    z-index: 2;
    color: white;
    position: relative;
    top: 100px;
    right: 130px;
  }
}
@media only screen and (max-width: 960px) {
  .item3 {
    display: none;
  }
  .item4 {
    display: none;
  }
  .item5 {
    display: none;
  }
  .item6 {
    display: none;
  }
  .hidden-tablet {
    height: 0;
    width: 0;
    gap: 0;
  }
}
.what {
  margin-top: 100px;
}
@media only screen and (max-width: 960px) {
  .middle div:nth-of-type(even) {
    display: none;
  }
  .ppstore {
    width: 30vw;
    height: 20vh;
    overflow: visible;
    justify-items: center;
  }
  .what {
    margin-top: 200px;
  }
  .cnews {
    margin-left: 4vw;
  }
}
.what div div div {
  color: grey;
  text-align: start;
}
